/* Fuentes */

html {
	font-size: 125%; /* Puedes ajustar este valor según necesites */
}

/* O alternativamente */
body {
	font-size: 125%; /* Puedes ajustar este valor según necesites */
}

/* Estilos para el sidebar */
.with-sidebar {
	display: flex;
	flex-wrap: wrap;
}

.with-sidebar #main {
	flex: 0 0 67%;
	max-width: 67%;
}

/* Sidebar */

.sidebar {
	position: fixed;  /* Cambiar de sticky a fixed */
	top: 20px;
	right: 20px;      /* Posicionarlo en el lado derecho */
	width: 30%;       /* O un ancho específico en píxeles */
	display: flex;
	flex-direction: column;
	height: calc(100vh - 40px);
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	z-index: 1000;    /* Asegurar que esté por encima de otros elementos */
}
